* {
    margin: 0;
    padding: 0;
}
h1, p, span {
    font-family: 'Inter', sans-serif;
}
body {
    display: block;
}
.headerText {
    font-weight: 600;
}
.bodyText {
    font-family: 'Source Code Pro', monospace;
}
.sectionLink:hover, .logoLink:hover {
    color: gray;
}
#header {
    width: 100vw;
    height: 10vh;
    position: absolute;
    z-index: 2;
}
#navBar {
    position: sticky;
}
.sectionLink {
    float: right;
    cursor: pointer;
}
.headerText {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: inline;
}
.logoLink {
    float: left;
    cursor: pointer;
}
#frontPage {
    width: 100vw;
    height: 100vh;
    display: block;
}
#centerFront {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#centerFrontText{
    text-align: center;
    font-size: 3.25em;
}
#centerFrontSubtext {
    text-align: center;
    font-size: 1.25em;
}
#aboutSection {
    height: 100vh;
    width: 100vw;
}
.sectionBorder {
    height: 15vh;
    width: 100vw;
    background-color: white;
}
#statsHeader {
    display: inline-flex;
    border-top: 15vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 3.75em;
    background-color: white;
}
.top4thumbnail {
    max-width: 20vw;
    height: auto;
}
.top4title {
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-size: 1.35vw;
    max-width: 20vw;
}
.top4views {
    text-decoration: none;
    font-weight: 200;
    color: black;
    font-size: 1.15vw;
    display: inline;
}
#top4 {
    display: flex;
}
#views {
    background-color: white;
    font-size: 3.5em;
}
#viewsCaption {
    background-color: white;
    display: block;
    text-align: right;
}
#aboutSectionHeader {
    display: flex;
    justify-content: center;
}
.viewsContainer {
    display: flex;
    margin-top: 10vh;
    flex-direction: column;
    align-items: right;
    margin-right: 5vw;
}
.viewsContainer * {
    text-align: right;
}
.viewsCounter {
    background-color: white;
    font-family: 'Source Code Pro', monospace;
    display: inline;
    font-size: 1.25em;
}

.white, .top4views {
    background: white;
}
.top5div {
    font-size: 0;
}
.statsAboutText {
    font-family: 'Source Code Pro', monospace;
    background-color: white;
    display: inline;
    font-size: 1.25em;
}
#videoCount {
    font-family: 'Source Code Pro', monospace;
}
.statsAboutContainer {
    margin-left: 5vw;
    margin-top: 7vh;
    margin-bottom: 10vh;
}
#top4v2, #top4v3, #top4v4 {
    margin-left: 9vw;
}
#top4v1 {
    margin-left: 11vw;
}
#statsBackground {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
    opacity: 40%;
    visibility: hidden;
}
.videoBackground {
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -2;
}
.projectsSection {
    width: 100vw;
    background-color: black;
    height: auto;
}
.project {
    width: 100vw;
    background-color: black;
    height: 30vh;
    border-top: 2px solid white;
}
.project:last-child {
    border-bottom: 2px solid white;
}
#projectsHeader {
    display: inline-flex;
    margin-bottom: 25vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 3.75em;
    background-color: white;
}
#projectsSectionHeader {
    display: flex;
    justify-content: center;
}